__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

env/
venv/
ENV/
.venv/

staticfiles/
media/
static/

*.env
.env.*
.envrc

*.pid
*.swp
*.swo

.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

*.DS_Store
Thumbs.db

.idea/
.vscode/
